Repository adaptive-enforcement-lab/adaptive-enforcement-lab-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-length, content-analyzer, mkdocs-build

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: ["--config", ".markdownlint.yml"]
        files: \.md$
        exclude: ^tools/
  - repo: local
    hooks:
      - id: check-markdown-length
        name: check markdown length
        entry: scripts/check-markdown-length.sh
        language: script
        files: \.md$
        exclude: ^(CHANGELOG|CONTRIBUTING)\.md$|^tools/
      - id: content-analyzer
        name: check documentation readability
        entry: bash -c 'cd tools/content-analyzer && go run ./cmd/content-analyzer --check --config ../../.content-analyzer.yml ../../docs/'
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'if [ -f .venv/bin/mkdocs ]; then .venv/bin/mkdocs build --strict; else mkdocs build --strict; fi'
        language: system
        pass_filenames: false
        files: \.(md|yml|yaml)$

Add Claude Code GitHub Workflow (#121)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: mkdocs-build

fix: exclude bot PRs from Claude code review
  .github/workflows/claude-code-review.yml
Due: mkdocs-build

fix: exclude bot PRs from Claude code review (#123)
  .github/workflows/claude-code-review.yml
Due: mkdocs-build

fix: grant write permissions to Claude workflow
  .github/workflows/claude.yml
Due: mkdocs-build

fix: grant write permissions to Claude workflow (#125)
  .github/workflows/claude.yml
Due: mkdocs-build

fix: add Argo Events and Workflows to developer guide index
  docs/developer-guide/index.md
Due: check-markdown-length, content-analyzer, mkdocs-build

fix: replace non-existent material-workflow icon with state-machine
  docs/developer-guide/argo-events/index.md
  docs/developer-guide/argo-events/reliability/backpressure.md
  docs/developer-guide/argo-events/reliability/dead-letter.md
  docs/developer-guide/argo-events/reliability/index.md
  docs/developer-guide/argo-events/routing/conditional.md
  docs/developer-guide/argo-events/routing/filtering.md
  docs/developer-guide/argo-events/routing/index.md
  docs/developer-guide/argo-events/routing/transformation.md
  docs/developer-guide/argo-workflows/composition/communication.md
  docs/developer-guide/argo-workflows/index.md
  docs/developer-guide/index.md
  docs/operator-manual/argo-events/reliability/high-availability.md
  docs/operator-manual/argo-events/setup/event-bus.md
  docs/operator-manual/argo-events/setup/event-sources.md
  docs/operator-manual/argo-events/setup/index.md
  docs/operator-manual/argo-events/setup/sensors.md
  docs/operator-manual/argo-events/troubleshooting/common-patterns.md
  docs/operator-manual/argo-events/troubleshooting/eventsources.md
  docs/operator-manual/argo-events/troubleshooting/index.md
  docs/operator-manual/argo-events/troubleshooting/sensors.md
  docs/operator-manual/index.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

fix: update blog post link to Argo Events setup guide
  docs/blog/posts/2025-12-14-event-driven-deployments-argo.md
Due: check-markdown-length, content-analyzer, mkdocs-build

refactor: reorganize Argo content between Developer Guide and Operator Manual (#135)
  docs/blog/posts/2025-12-14-event-driven-deployments-argo.md
  docs/developer-guide/argo-events/index.md
  docs/developer-guide/argo-events/reliability/backpressure.md
  docs/developer-guide/argo-events/reliability/dead-letter.md
  docs/developer-guide/argo-events/reliability/index.md
  docs/developer-guide/argo-events/routing/conditional.md
  docs/developer-guide/argo-events/routing/filtering.md
  docs/developer-guide/argo-events/routing/index.md
  docs/developer-guide/argo-events/routing/transformation.md
  docs/developer-guide/argo-workflows/composition/communication.md
  docs/developer-guide/argo-workflows/index.md
  docs/developer-guide/index.md
  docs/operator-manual/argo-events/reliability/high-availability.md
  docs/operator-manual/argo-events/setup/event-bus.md
  docs/operator-manual/argo-events/setup/event-sources.md
  docs/operator-manual/argo-events/setup/index.md
  docs/operator-manual/argo-events/setup/sensors.md
  docs/operator-manual/argo-events/troubleshooting/common-patterns.md
  docs/operator-manual/argo-events/troubleshooting/eventsources.md
  docs/operator-manual/argo-events/troubleshooting/index.md
  docs/operator-manual/argo-events/troubleshooting/sensors.md
  docs/operator-manual/index.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

feat: add P1 and P2 blog posts with forbidden-tech hook
  .pre-commit-config.yaml
  docs/blog/posts/2025-11-29-from-5-seconds-to-5-milliseconds.md
  docs/blog/posts/2025-12-03-configmap-cache-zero-api.md
  docs/blog/posts/2025-12-04-pre-commit-security-gates.md
  docs/blog/posts/2025-12-06-shipping-a-github-action-the-right-way.md
  docs/blog/posts/2025-12-10-pre-commit-hooks-binary-releases.md
  docs/blog/posts/2025-12-12-harden-sdlc-before-audit.md
  docs/blog/posts/2025-12-13-policy-as-code-kyverno.md
  docs/blog/posts/2025-12-14-event-driven-deployments-argo.md
  docs/blog/posts/2025-12-15-zero-vulnerability-pipelines.md
  docs/blog/posts/2025-12-16-environment-progression-testing.md
  docs/roadmap.md
  scripts/check-forbidden-tech.sh
Due: check-markdown-length, content-analyzer, mkdocs-build

docs: add admonitions to all implementation guides
  docs/developer-guide/architecture-patterns/index.md
  docs/developer-guide/architecture-patterns/strangler-fig/implementation.md
  docs/developer-guide/architecture-patterns/strangler-fig/index.md
  docs/developer-guide/architecture-patterns/strangler-fig/migration-guide.md
  docs/developer-guide/architecture-patterns/strangler-fig/monitoring.md
  docs/developer-guide/architecture-patterns/strangler-fig/traffic-routing.md
  docs/developer-guide/sdlc-hardening/audit-evidence.md
  docs/developer-guide/sdlc-hardening/branch-protection.md
  docs/developer-guide/sdlc-hardening/commit-signing.md
  docs/developer-guide/sdlc-hardening/implementation-roadmap/execution.md
  docs/developer-guide/sdlc-hardening/implementation-roadmap/index.md
  docs/developer-guide/sdlc-hardening/index.md
  docs/developer-guide/sdlc-hardening/kyverno/policy-patterns.md
  docs/developer-guide/sdlc-hardening/pre-commit-hooks.md
  docs/developer-guide/sdlc-hardening/sbom-generation.md
  docs/operator-manual/github-actions/use-cases/work-avoidance/matrix-patterns/advanced-patterns.md
  docs/operator-manual/github-actions/use-cases/work-avoidance/matrix-patterns/caching-artifacts.md
  docs/operator-manual/github-actions/use-cases/work-avoidance/matrix-patterns/index.md
  docs/operator-manual/github-actions/use-cases/work-avoidance/matrix-patterns/matrix-optimization.md
  docs/operator-manual/github-actions/use-cases/work-avoidance/matrix-patterns/path-filtering.md
Due: check-markdown-length, content-analyzer, mkdocs-build

refactor: split SDLC and policy-as-code blogs into narrative + articles
  docs/blog/posts/2025-12-03-configmap-cache-zero-api.md
  docs/blog/posts/2025-12-04-pre-commit-security-gates.md
  docs/blog/posts/2025-12-12-harden-sdlc-before-audit.md
  docs/blog/posts/2025-12-13-policy-as-code-kyverno.md
  docs/blog/posts/2025-12-15-zero-vulnerability-pipelines.md
Due: check-markdown-length, content-analyzer, mkdocs-build

docs: split blog posts and implementation guides
  .readability.yml
  docs/blog/posts/2025-12-04-pre-commit-security-gates.md
  docs/blog/posts/2025-12-12-harden-sdlc-before-audit.md
  docs/blog/posts/2025-12-13-policy-as-code-kyverno.md
  docs/blog/posts/2025-12-15-zero-vulnerability-pipelines.md
  docs/blog/posts/2025-12-16-environment-progression-testing.md
  docs/developer-guide/architecture-patterns/environment-progression-operations.md
  docs/developer-guide/architecture-patterns/environment-progression.md
  docs/developer-guide/sdlc-hardening/audit-evidence.md
  docs/developer-guide/sdlc-hardening/pre-commit-hooks-patterns.md
  docs/developer-guide/sdlc-hardening/vulnerability-scanning.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

fix: make docs commits visible in CHANGELOG for documentation repo
  release-please-config.json
Due: none

fix: make docs commits visible in CHANGELOG for documentation repo (#138)
  release-please-config.json
Due: none

docs: add comprehensive policy-as-code implementation guide
  .claude/hooks/check-markdown-readability.sh
  .claude/settings.json
  .pre-commit-config.yaml
  docs/developer-guide/policy-as-code/ci-integration/github-actions.md
  docs/developer-guide/policy-as-code/ci-integration/index.md
  docs/developer-guide/policy-as-code/index.md
  docs/developer-guide/policy-as-code/local-development/advanced-validation.md
  docs/developer-guide/policy-as-code/local-development/index.md
  docs/developer-guide/policy-as-code/local-development/workflow-integration.md
  docs/developer-guide/policy-as-code/multi-source-policies/index.md
  docs/developer-guide/policy-as-code/multi-source-policies/policy-management.md
  docs/developer-guide/policy-as-code/multi-source-policies/testing-and-operations.md
  docs/developer-guide/policy-as-code/operations/index.md
  docs/developer-guide/policy-as-code/operations/monitoring.md
  docs/developer-guide/policy-as-code/operations/workflows.md
  docs/developer-guide/policy-as-code/policy-packaging/distribution.md
  docs/developer-guide/policy-as-code/policy-packaging/index.md
  docs/developer-guide/policy-as-code/policy-packaging/maintenance.md
  docs/developer-guide/policy-as-code/runtime-deployment/index.md
  docs/developer-guide/policy-as-code/runtime-deployment/monitoring.md
  docs/developer-guide/policy-as-code/runtime-deployment/policy-enforcement.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

docs: Add comprehensive Policy-as-Code implementation guide (#140)
  .claude/hooks/check-markdown-readability.sh
  .claude/settings.json
  .pre-commit-config.yaml
  docs/developer-guide/policy-as-code/ci-integration/github-actions.md
  docs/developer-guide/policy-as-code/ci-integration/index.md
  docs/developer-guide/policy-as-code/index.md
  docs/developer-guide/policy-as-code/local-development/advanced-validation.md
  docs/developer-guide/policy-as-code/local-development/index.md
  docs/developer-guide/policy-as-code/local-development/workflow-integration.md
  docs/developer-guide/policy-as-code/multi-source-policies/index.md
  docs/developer-guide/policy-as-code/multi-source-policies/policy-management.md
  docs/developer-guide/policy-as-code/multi-source-policies/testing-and-operations.md
  docs/developer-guide/policy-as-code/operations/index.md
  docs/developer-guide/policy-as-code/operations/monitoring.md
  docs/developer-guide/policy-as-code/operations/workflows.md
  docs/developer-guide/policy-as-code/policy-packaging/distribution.md
  docs/developer-guide/policy-as-code/policy-packaging/index.md
  docs/developer-guide/policy-as-code/policy-packaging/maintenance.md
  docs/developer-guide/policy-as-code/runtime-deployment/index.md
  docs/developer-guide/policy-as-code/runtime-deployment/monitoring.md
  docs/developer-guide/policy-as-code/runtime-deployment/policy-enforcement.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

chore: remove .python-version file
  .python-version
Due: none

chore: remove .python-version file (#141)
  .python-version
Due: none

fix: build documentation on release creation
  .github/workflows/release.yml
Due: mkdocs-build

fix: build documentation on release creation (#142)
  .github/workflows/release.yml
Due: mkdocs-build

docs: remove redundant 'All Patterns' table from developer guide index
  docs/developer-guide/index.md
Due: check-markdown-length, content-analyzer, mkdocs-build

docs: remove redundant 'All Patterns' table from developer guide index (#144)
  docs/developer-guide/index.md
Due: check-markdown-length, content-analyzer, mkdocs-build

refactor: merge Workflow Architecture into Architecture Patterns
  docs/developer-guide/architecture-patterns/hub-and-spoke/operations.md
  docs/developer-guide/architecture-patterns/index.md
  docs/developer-guide/architecture-patterns/matrix-distribution/anti-patterns.md
  docs/developer-guide/architecture-patterns/matrix-distribution/conditional-distribution.md
  docs/developer-guide/architecture-patterns/matrix-distribution/index.md
  docs/developer-guide/architecture-patterns/matrix-distribution/template-rendering.md
  docs/developer-guide/architecture-patterns/three-stage-design.md
  docs/developer-guide/efficiency-patterns/work-avoidance/index.md
  docs/developer-guide/index.md
  docs/developer-guide/policy-as-code/index.md
  docs/developer-guide/workflow-architecture/index.md
  docs/operator-manual/github-actions/use-cases/file-distribution/architecture.md
  docs/operator-manual/github-actions/use-cases/file-distribution/extension-patterns.md
  docs/operator-manual/github-actions/use-cases/file-distribution/index.md
  docs/operator-manual/github-actions/use-cases/release-pipelines/index.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

refactor: merge Workflow Architecture into Architecture Patterns (#146)
  docs/developer-guide/architecture-patterns/hub-and-spoke/operations.md
  docs/developer-guide/architecture-patterns/index.md
  docs/developer-guide/architecture-patterns/matrix-distribution/anti-patterns.md
  docs/developer-guide/architecture-patterns/matrix-distribution/conditional-distribution.md
  docs/developer-guide/architecture-patterns/matrix-distribution/index.md
  docs/developer-guide/architecture-patterns/matrix-distribution/template-rendering.md
  docs/developer-guide/architecture-patterns/three-stage-design.md
  docs/developer-guide/efficiency-patterns/work-avoidance/index.md
  docs/developer-guide/index.md
  docs/developer-guide/policy-as-code/index.md
  docs/developer-guide/workflow-architecture/index.md
  docs/operator-manual/github-actions/use-cases/file-distribution/architecture.md
  docs/operator-manual/github-actions/use-cases/file-distribution/extension-patterns.md
  docs/operator-manual/github-actions/use-cases/file-distribution/index.md
  docs/operator-manual/github-actions/use-cases/release-pipelines/index.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

fix: use correct release-please output for docs build trigger
  .github/workflows/release.yml
Due: mkdocs-build

fix: use correct release-please output for docs build trigger (#148)
  .github/workflows/release.yml
Due: mkdocs-build

docs: add orphaned files to navigation
  mkdocs.yml
Due: mkdocs-build

docs: add orphaned files to navigation (#150)
  mkdocs.yml
Due: mkdocs-build

refactor: move Policy-as-Code under SDLC Hardening with Kyverno nested
  docs/blog/posts/2025-12-13-policy-as-code-kyverno.md
  docs/developer-guide/sdlc-hardening/policy-as-code/ci-integration/github-actions.md
  docs/developer-guide/sdlc-hardening/policy-as-code/ci-integration/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/ci-cd-integration.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/exceptions.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/operations.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/policy-patterns.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/testing-approaches.md
  docs/developer-guide/sdlc-hardening/policy-as-code/local-development/advanced-validation.md
  docs/developer-guide/sdlc-hardening/policy-as-code/local-development/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/local-development/workflow-integration.md
  docs/developer-guide/sdlc-hardening/policy-as-code/multi-source-policies/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/multi-source-policies/policy-management.md
  docs/developer-guide/sdlc-hardening/policy-as-code/multi-source-policies/testing-and-operations.md
  docs/developer-guide/sdlc-hardening/policy-as-code/operations/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/operations/monitoring.md
  docs/developer-guide/sdlc-hardening/policy-as-code/operations/workflows.md
  docs/developer-guide/sdlc-hardening/policy-as-code/policy-packaging/distribution.md
  docs/developer-guide/sdlc-hardening/policy-as-code/policy-packaging/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/policy-packaging/maintenance.md
  docs/developer-guide/sdlc-hardening/policy-as-code/runtime-deployment/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/runtime-deployment/monitoring.md
  docs/developer-guide/sdlc-hardening/policy-as-code/runtime-deployment/policy-enforcement.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

refactor: move Policy-as-Code under SDLC Hardening with Kyverno nested (#152)
  docs/blog/posts/2025-12-13-policy-as-code-kyverno.md
  docs/developer-guide/sdlc-hardening/policy-as-code/ci-integration/github-actions.md
  docs/developer-guide/sdlc-hardening/policy-as-code/ci-integration/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/ci-cd-integration.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/exceptions.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/operations.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/policy-patterns.md
  docs/developer-guide/sdlc-hardening/policy-as-code/kyverno/testing-approaches.md
  docs/developer-guide/sdlc-hardening/policy-as-code/local-development/advanced-validation.md
  docs/developer-guide/sdlc-hardening/policy-as-code/local-development/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/local-development/workflow-integration.md
  docs/developer-guide/sdlc-hardening/policy-as-code/multi-source-policies/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/multi-source-policies/policy-management.md
  docs/developer-guide/sdlc-hardening/policy-as-code/multi-source-policies/testing-and-operations.md
  docs/developer-guide/sdlc-hardening/policy-as-code/operations/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/operations/monitoring.md
  docs/developer-guide/sdlc-hardening/policy-as-code/operations/workflows.md
  docs/developer-guide/sdlc-hardening/policy-as-code/policy-packaging/distribution.md
  docs/developer-guide/sdlc-hardening/policy-as-code/policy-packaging/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/policy-packaging/maintenance.md
  docs/developer-guide/sdlc-hardening/policy-as-code/runtime-deployment/index.md
  docs/developer-guide/sdlc-hardening/policy-as-code/runtime-deployment/monitoring.md
  docs/developer-guide/sdlc-hardening/policy-as-code/runtime-deployment/policy-enforcement.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

fix: update readability action reference from @1 to @latest
  .github/workflows/docs-quality.yml
  docs/blog/posts/2025-12-12-harden-sdlc-before-audit.md
  docs/blog/posts/2025-12-13-policy-as-code-kyverno.md
Due: check-markdown-length, content-analyzer, mkdocs-build

fix: update readability action reference from @1 to @latest (#158)
  .github/workflows/docs-quality.yml
  docs/blog/posts/2025-12-12-harden-sdlc-before-audit.md
  docs/blog/posts/2025-12-13-policy-as-code-kyverno.md
Due: check-markdown-length, content-analyzer, mkdocs-build

feat: add OpenSSF Best Practices Badge blog post
  docs/blog/posts/2025-12-04-pre-commit-security-gates.md
  docs/blog/posts/2025-12-12-harden-sdlc-before-audit.md
  docs/blog/posts/2025-12-17-openssf-badge-two-hours.md
  docs/roadmap.md
Due: check-markdown-length, content-analyzer, mkdocs-build

feat: add OpenSSF Best Practices Badge blog post (#164)
  docs/blog/posts/2025-12-04-pre-commit-security-gates.md
  docs/blog/posts/2025-12-12-harden-sdlc-before-audit.md
  docs/blog/posts/2025-12-17-openssf-badge-two-hours.md
  docs/roadmap.md
Due: check-markdown-length, content-analyzer, mkdocs-build

feat: add shift-left validation to Kyverno blog post
  docs/blog/posts/2025-12-13-policy-as-code-kyverno.md
Due: check-markdown-length, content-analyzer, mkdocs-build
