Repository adaptive-enforcement-lab/adaptive-enforcement-lab-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-length, content-analyzer, mkdocs-build

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: ["--config", ".markdownlint.yml"]
        files: \.md$
        exclude: ^tools/
  - repo: local
    hooks:
      - id: check-markdown-length
        name: check markdown length
        entry: scripts/check-markdown-length.sh
        language: script
        files: \.md$
        exclude: ^(CHANGELOG|CONTRIBUTING)\.md$|^tools/
      - id: content-analyzer
        name: check documentation readability
        entry: bash -c 'cd tools/content-analyzer && go run ./cmd/content-analyzer --check --config ../../.content-analyzer.yml ../../docs/'
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'if [ -f .venv/bin/mkdocs ]; then .venv/bin/mkdocs build --strict; else mkdocs build --strict; fi'
        language: system
        pass_filenames: false
        files: \.(md|yml|yaml)$

fix(ci): add work avoidance to build-docs job (#92)
  .github/workflows/release.yml
Due: mkdocs-build

fix(ci): trigger OTEL export after all workflows
  .github/workflows/otel-export.yml
Due: mkdocs-build

fix(ci): trigger OTEL export after all workflows (#93)
  .github/workflows/otel-export.yml
Due: mkdocs-build

chore: enable always-update for release-please PRs
  release-please-config.json
Due: none

chore: bump readability action to v0.1.1
  .github/workflows/docs-quality.yml
Due: mkdocs-build

docs: add versioned documentation pattern and blog post
  docs/blog/posts/2025-12-06-shipping-a-github-action-the-right-way.md
  docs/operator-manual/github-actions/use-cases/versioned-docs/index.md
  docs/operator-manual/github-actions/use-cases/versioned-docs/mike-configuration.md
  docs/operator-manual/github-actions/use-cases/versioned-docs/pipeline-integration.md
  docs/operator-manual/github-actions/use-cases/versioned-docs/version-strategies.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

docs: add live example link to readability docs site
  docs/blog/posts/2025-12-06-shipping-a-github-action-the-right-way.md
  docs/operator-manual/github-actions/use-cases/versioned-docs/index.md
Due: check-markdown-length, content-analyzer, mkdocs-build

docs: add versioned documentation pattern and blog post (#98)
  docs/blog/posts/2025-12-06-shipping-a-github-action-the-right-way.md
  docs/operator-manual/github-actions/use-cases/versioned-docs/index.md
  docs/operator-manual/github-actions/use-cases/versioned-docs/mike-configuration.md
  docs/operator-manual/github-actions/use-cases/versioned-docs/pipeline-integration.md
  docs/operator-manual/github-actions/use-cases/versioned-docs/version-strategies.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

refactor: migrate to readability action, remove local content-analyzer
  .github/workflows/build.yml
  .github/workflows/docs-quality.yml
  .pre-commit-config.yaml
  scripts/check-readability.sh
  tools/content-analyzer/.gitignore
  tools/content-analyzer/CHANGELOG.md
  tools/content-analyzer/cmd/content-analyzer/main.go
  tools/content-analyzer/docs/design.md
  tools/content-analyzer/docs/integration.md
  tools/content-analyzer/docs/readability-formulas.md
  tools/content-analyzer/docs/thresholds.md
  tools/content-analyzer/go.mod
  tools/content-analyzer/go.sum
  tools/content-analyzer/pkg/analyzer/analyzer.go
  tools/content-analyzer/pkg/analyzer/types.go
  tools/content-analyzer/pkg/config/config.go
  tools/content-analyzer/pkg/markdown/parser.go
  tools/content-analyzer/pkg/output/json.go
  tools/content-analyzer/pkg/output/markdown.go
  tools/content-analyzer/pkg/output/table.go
Due: mkdocs-build

fix: use specific version tag for readability action
  .github/workflows/docs-quality.yml
Due: mkdocs-build

docs: add versioned documentation patterns and migrate to readability action (#99)
  .github/workflows/build.yml
  .github/workflows/docs-quality.yml
  .pre-commit-config.yaml
  scripts/check-readability.sh
  tools/content-analyzer/.gitignore
  tools/content-analyzer/CHANGELOG.md
  tools/content-analyzer/cmd/content-analyzer/main.go
  tools/content-analyzer/docs/design.md
  tools/content-analyzer/docs/integration.md
  tools/content-analyzer/docs/readability-formulas.md
  tools/content-analyzer/docs/thresholds.md
  tools/content-analyzer/go.mod
  tools/content-analyzer/go.sum
  tools/content-analyzer/pkg/analyzer/analyzer.go
  tools/content-analyzer/pkg/analyzer/types.go
  tools/content-analyzer/pkg/config/config.go
  tools/content-analyzer/pkg/markdown/parser.go
  tools/content-analyzer/pkg/output/json.go
  tools/content-analyzer/pkg/output/markdown.go
  tools/content-analyzer/pkg/output/table.go
Due: mkdocs-build

chore: enable always-update for release-please PRs (#96)
  release-please-config.json
Due: none

refactor: complete migration to external readability action
  .github/workflows/docs-quality.yml
  .github/workflows/release.yml
  .readability.yml
  .release-please-manifest.json
  release-please-config.json
  scripts/check-readability.sh
Due: mkdocs-build

refactor: complete migration to external readability action (#100)
  .github/workflows/docs-quality.yml
  .github/workflows/release.yml
  .readability.yml
  .release-please-manifest.json
  release-please-config.json
  scripts/check-readability.sh
Due: mkdocs-build

fix: remove broken summary step from docs-quality workflow
  .github/workflows/docs-quality.yml
Due: mkdocs-build

feat: upgrade to readability v0.3.2 and re-enable summary
  .github/workflows/docs-quality.yml
  scripts/check-readability.sh
Due: mkdocs-build

feat: upgrade to readability v0.4.0 with automatic summary
  .github/workflows/docs-quality.yml
  scripts/check-readability.sh
Due: mkdocs-build

feat: upgrade to readability v0.4.0 with automatic summary (#101)
  .github/workflows/docs-quality.yml
  scripts/check-readability.sh
Due: mkdocs-build

feat: use native pre-commit hook for readability
  .pre-commit-config.yaml
  scripts/check-readability.sh
Due: mkdocs-build

chore: update readability pre-commit hook to 0.6.0
  .pre-commit-config.yaml
Due: mkdocs-build

feat: use native pre-commit hook for readability (#103)
  .pre-commit-config.yaml
  scripts/check-readability.sh
Due: mkdocs-build

chore: use floating major tag for readability action
  .github/workflows/docs-quality.yml
Due: mkdocs-build

chore: use floating major tag for readability action (#106)
  .github/workflows/docs-quality.yml
Due: mkdocs-build

feat: add GitHub repository link to header
  mkdocs.yml
Due: mkdocs-build

feat: add GitHub repository link to header (#108)
  mkdocs.yml
Due: mkdocs-build

docs: add Go CLI architecture guide
  .pre-commit-config.yaml
  docs/developer-guide/go-cli-architecture/command-architecture/index.md
  docs/developer-guide/go-cli-architecture/command-architecture/io-contracts.md
  docs/developer-guide/go-cli-architecture/command-architecture/orchestrator-pattern.md
  docs/developer-guide/go-cli-architecture/command-architecture/subcommand-design.md
  docs/developer-guide/go-cli-architecture/framework-selection/cli-frameworks.md
  docs/developer-guide/go-cli-architecture/framework-selection/index.md
  docs/developer-guide/go-cli-architecture/framework-selection/viper-configuration.md
  docs/developer-guide/go-cli-architecture/index.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/client-configuration.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/index.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/rbac-setup.md
  docs/developer-guide/go-cli-architecture/packaging/container-builds.md
  docs/developer-guide/go-cli-architecture/packaging/helm-charts.md
  docs/developer-guide/go-cli-architecture/packaging/index.md
  docs/developer-guide/go-cli-architecture/packaging/release-automation.md
  docs/developer-guide/go-cli-architecture/testing/e2e-testing.md
  docs/developer-guide/go-cli-architecture/testing/index.md
  docs/developer-guide/go-cli-architecture/testing/integration-testing.md
  docs/developer-guide/go-cli-architecture/testing/unit-testing.md
  docs/developer-guide/index.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

docs: add Go CLI architecture guide (#109)
  .pre-commit-config.yaml
  docs/developer-guide/go-cli-architecture/command-architecture/index.md
  docs/developer-guide/go-cli-architecture/command-architecture/io-contracts.md
  docs/developer-guide/go-cli-architecture/command-architecture/orchestrator-pattern.md
  docs/developer-guide/go-cli-architecture/command-architecture/subcommand-design.md
  docs/developer-guide/go-cli-architecture/framework-selection/cli-frameworks.md
  docs/developer-guide/go-cli-architecture/framework-selection/index.md
  docs/developer-guide/go-cli-architecture/framework-selection/viper-configuration.md
  docs/developer-guide/go-cli-architecture/index.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/client-configuration.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/index.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/rbac-setup.md
  docs/developer-guide/go-cli-architecture/packaging/container-builds.md
  docs/developer-guide/go-cli-architecture/packaging/helm-charts.md
  docs/developer-guide/go-cli-architecture/packaging/index.md
  docs/developer-guide/go-cli-architecture/packaging/release-automation.md
  docs/developer-guide/go-cli-architecture/testing/e2e-testing.md
  docs/developer-guide/go-cli-architecture/testing/index.md
  docs/developer-guide/go-cli-architecture/testing/integration-testing.md
  docs/developer-guide/go-cli-architecture/testing/unit-testing.md
  docs/developer-guide/index.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

fix: improve Mermaid diagram readability
  docs/developer-guide/go-cli-architecture/command-architecture/index.md
  docs/developer-guide/go-cli-architecture/packaging/index.md
  docs/developer-guide/go-cli-architecture/testing/index.md
Due: check-markdown-length, content-analyzer, mkdocs-build

refactor: split common-operations into separate files
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations/configmap-operations.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations/index.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations/list-resources.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations/rollout-restart.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations/watch-resources.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/index.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

fix: add admonitions and update readability config
  .readability.yml
  docs/about/brand.md
  docs/about/index.md
Due: check-markdown-length, content-analyzer, mkdocs-build

refactor: split common-operations into separate files (#113)
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations/configmap-operations.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations/index.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations/list-resources.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations/rollout-restart.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/common-operations/watch-resources.md
  docs/developer-guide/go-cli-architecture/kubernetes-integration/index.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

fix: add admonitions to blog posts and update readability config
  .readability.yml
  docs/blog/posts/2025-11-30-what-release-please-cant-do.md
  docs/blog/posts/2025-12-01-the-75-repo-pr-storm.md
  docs/blog/posts/2025-12-02-the-real-fix-for-release-please-triggers.md
  docs/blog/posts/2025-12-05-the-art-of-failing-gracefully.md
  docs/blog/posts/2025-12-06-shipping-a-github-action-the-right-way.md
Due: check-markdown-length, content-analyzer, mkdocs-build

docs: add Go CLI packaging blog series and developer guide
  docs/blog/posts/2025-12-05-the-art-of-failing-gracefully.md
  docs/blog/posts/2025-12-06-shipping-a-github-action-the-right-way.md
  docs/blog/posts/2025-12-07-cli-ux-patterns-for-ai-agents.md
  docs/blog/posts/2025-12-08-always-works-qa-methodology.md
  docs/blog/posts/2025-12-09-building-github-actions-in-go.md
  docs/blog/posts/2025-12-10-pre-commit-hooks-binary-releases.md
  docs/blog/posts/2025-12-11-golangci-lint-v2-migration.md
  docs/developer-guide/go-cli-architecture/packaging/github-actions.md
  docs/developer-guide/go-cli-architecture/packaging/index.md
  docs/developer-guide/go-cli-architecture/packaging/pre-commit-hooks.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

feat: add scheduled blog post publishing
  .github/workflows/release.yml
  mkdocs.yml
Due: mkdocs-build

docs: add Go CLI packaging blog series and developer guide (#116)
  .github/workflows/release.yml
  docs/blog/posts/2025-12-05-the-art-of-failing-gracefully.md
  docs/blog/posts/2025-12-06-shipping-a-github-action-the-right-way.md
  docs/blog/posts/2025-12-07-cli-ux-patterns-for-ai-agents.md
  docs/blog/posts/2025-12-08-always-works-qa-methodology.md
  docs/blog/posts/2025-12-09-building-github-actions-in-go.md
  docs/blog/posts/2025-12-10-pre-commit-hooks-binary-releases.md
  docs/blog/posts/2025-12-11-golangci-lint-v2-migration.md
  docs/developer-guide/go-cli-architecture/packaging/github-actions.md
  docs/developer-guide/go-cli-architecture/packaging/index.md
  docs/developer-guide/go-cli-architecture/packaging/pre-commit-hooks.md
  mkdocs.yml
Due: check-markdown-length, content-analyzer, mkdocs-build

fix: update blog post categories to reflect actual content
  docs/blog/posts/2025-12-05-the-art-of-failing-gracefully.md
  docs/blog/posts/2025-12-06-shipping-a-github-action-the-right-way.md
  docs/blog/posts/2025-12-07-cli-ux-patterns-for-ai-agents.md
  docs/blog/posts/2025-12-08-always-works-qa-methodology.md
  docs/blog/posts/2025-12-09-building-github-actions-in-go.md
  docs/blog/posts/2025-12-10-pre-commit-hooks-binary-releases.md
  docs/blog/posts/2025-12-11-golangci-lint-v2-migration.md
Due: check-markdown-length, content-analyzer, mkdocs-build

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: mkdocs-build

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: mkdocs-build
