Repository adaptive-enforcement-lab/adaptive-enforcement-lab-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-forbidden-tech, check-description, check-title, mkdocs-build

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: ["--config", ".markdownlint.yml"]
        files: \.md$
        exclude: ^(CHANGELOG\.md|\.content-machine/.*|docs/includes/.*)$
  - repo: https://github.com/adaptive-enforcement-lab/readability
    rev: v3.0.1
    hooks:
      - id: readability-docs
        name: check documentation readability
  - repo: local
    hooks:
      - id: check-forbidden-tech
        name: block forbidden technologies
        entry: scripts/check-forbidden-tech.sh
        language: script
        files: \.(md|yaml|yml|sh|tf|Dockerfile|Containerfile)$
        pass_filenames: true
      - id: check-description
        name: check description frontmatter
        entry: scripts/check-description.sh
        language: script
        files: \.md$
        exclude: ^docs/includes/.*$
        pass_filenames: true
      - id: check-title
        name: check title frontmatter
        entry: scripts/check-title.sh
        language: script
        files: \.md$
        exclude: ^docs/includes/.*$
        pass_filenames: true
      - id: mkdocs-build
        name: mkdocs build
        entry: >-
          bash -c 'if [ -f .venv/bin/mkdocs ]; then
          .venv/bin/mkdocs build --strict; else
          mkdocs build --strict; fi'
        language: system
        pass_filenames: false
        files: \.(md|yml|yaml)$

docs: add code examples and cross-link to dependency updates article
  docs/build/consolidating-automated-dependency-updates/index.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

fix: audit fixes for detect-job-pattern post
  docs/blog/posts/2026-08-11-speeding-up-ci-the-detect-job-pattern.md
  docs/blog/posts/2026-08-11-to-optimize-continuous-integration-pipelines-a-detect-job-can-be-implemented-as-an-early-low-cost-gate-to-determine-if-more-resource-intensive-steps-are-required-enabling-conditional-execution-and-parallelization-of-independent-checks.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: retitle gitops post, fix duplicated opening, flag missing companion article
  docs/blog/posts/2026-08-09-the-cold-sweat-deploy.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add code examples and cross-link CI/CD compliance audits article
  docs/enforce/audit-compliance/audit-evidence.md
  docs/enforce/ci-cd-compliance-audits-for-component-integrity/index.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

security: pin mkdocs-rss-plugin and mkdocs-redirects to versions before an unverified 'properdocs' runtime dependency was added
  requirements.txt
Due: none

docs: address review feedback on version promotion article
  docs/build/structured-component-version-promotion/index.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: rename blog post to match slug, trim implementation detail, add related link
  docs/blog/posts/2026-08-13-automating-trust-component-identity-release-audits.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add H1, tighten opening, cross-link, and command example
  docs/build/managing-incompatible-dependency-updates/index.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add code examples and conform data contracts article to pattern format
  docs/patterns/authoritative-architectural-documentation-and-data-contracts/index.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: move gated-certificate pattern under patterns/security and rework content
  docs/patterns/gated-certificate-operator-promotion-through-a-fleet-wide-environment-pipeline/index.md
  docs/patterns/security/gated-certificate-promotion/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

security: pin mkdocs-rss-plugin and mkdocs-redirects to versions before an unverified 'properdocs' runtime dependency was added (#301)
  requirements.txt
Due: none

docs: add governance patterns index linking existing security docs (#294)
  docs/patterns/governance/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: document deduplication patterns under idempotency (#295)
  docs/patterns/efficiency/idempotency/patterns/deduplication.md
  docs/patterns/efficiency/idempotency/patterns/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add matrix filtering work-avoidance technique (#293)
  docs/patterns/efficiency/work-avoidance/index.md
  docs/patterns/efficiency/work-avoidance/techniques/index.md
  docs/patterns/efficiency/work-avoidance/techniques/matrix-filtering.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: retitle renovate triage post and add related link (#296)
  docs/blog/posts/2026-08-10-the-monday-morning-pr-wall.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: fix tone and add related link to boolean type-checking post (#297)
  docs/blog/posts/2026-08-14-development-teams-implement-strict-type-checking-within-continuous-integration-pipelines-to-prevent-misinterpretation-of-configuration-values-particularly-booleans.md
  docs/blog/posts/2026-08-14-the-boolean-that-lied.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: trim implementation detail and add related links to RBAC post (#298)
  docs/blog/posts/2026-08-10-a-kubernetes-native-integration-testing-operator-that-reconciles-a-declarative-test-run-resource-using-server-side-apply-for-status-ownership-and-rbac-generated-from-source-code-markers.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add code examples and cross-link to dependency updates article (#299)
  docs/build/consolidating-automated-dependency-updates/index.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: retitle gitops post, fix duplicated opening, flag missing companion article (#300)
  docs/blog/posts/2026-08-09-the-cold-sweat-deploy.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add code examples and cross-link CI/CD compliance audits article (#302)
  docs/enforce/audit-compliance/audit-evidence.md
  docs/enforce/ci-cd-compliance-audits-for-component-integrity/index.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add code examples and conform data contracts article to pattern format (#303)
  docs/patterns/authoritative-architectural-documentation-and-data-contracts/index.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

feat: close pre-commit gaps between content-review.md rubric and enforcement
  .github/workflows/build.yml
  .pre-commit-config.yaml
  scripts/check-blog-fold.sh
  scripts/check-blog-not-howto.sh
  scripts/check-description.sh
  scripts/tests/test-check-blog-scripts.sh
Due: check-forbidden-tech, mkdocs-build

fix: remove dangling pre-commit hook entries with no corresponding scripts
  .pre-commit-config.yaml
Due: check-forbidden-tech, mkdocs-build

fix: remove dangling pre-commit hook entries with no corresponding scripts (#307)
  .pre-commit-config.yaml
Due: check-forbidden-tech, mkdocs-build

feat: close pre-commit gaps between content-review.md rubric and enforcement (#306)
  .github/workflows/build.yml
  .pre-commit-config.yaml
  scripts/check-blog-fold.sh
  scripts/check-blog-not-howto.sh
  scripts/check-description.sh
  scripts/tests/test-check-blog-scripts.sh
Due: check-forbidden-tech, mkdocs-build

docs: add resource ownership and criticality tagging pattern
  docs/blog/posts/2026-08-12-untagged-outage.md
  docs/patterns/governance/index.md
  docs/patterns/governance/ownership-tagging/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add vendor-neutral credential rotation pattern at scale
  docs/patterns/governance/index.md
  docs/secure/credential-management/rotation/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: GitOps Multi-Cluster Delivery with ArgoCD ApplicationSets
  docs/blog/posts/2026-08-09-the-cold-sweat-deploy.md
  docs/patterns/architecture/gitops-applicationset/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: The Day One Repo Became Forty (blog post)
  docs/blog/posts/2026-08-23-the-day-one-repo-became-forty.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: draft pattern post from content-machine
  docs/build/standardizing-ci-cd-with-shared-templates-and-reusable-components/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: GitOps Multi-Cluster Delivery with ArgoCD ApplicationSets (#311)
  docs/blog/posts/2026-08-09-the-cold-sweat-deploy.md
  docs/patterns/architecture/gitops-applicationset/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: The Day One Repo Became Forty (blog post) (#312)
  docs/blog/posts/2026-08-23-the-day-one-repo-became-forty.md
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add vendor-neutral credential rotation pattern at scale (#310)
  docs/patterns/governance/index.md
  docs/secure/credential-management/rotation/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

fix: nest new page under Release Pipelines, shorten nav label to 3 words
  mkdocs.yml
Due: check-forbidden-tech, mkdocs-build

fix: group 3 flat dependency-management leaves, shorten labels
  mkdocs.yml
Due: check-forbidden-tech, mkdocs-build

fix: group 3 flat dependency-management leaves, shorten labels (#315)
  mkdocs.yml
Due: check-forbidden-tech, mkdocs-build

docs: draft pattern post from content-machine
  docs/build/type-safe-ci-logic-and-the-dangers-of-implicit-coercion/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add resource ownership and criticality tagging pattern (#308)
  docs/blog/posts/2026-08-12-untagged-outage.md
  docs/patterns/governance/index.md
  docs/patterns/governance/ownership-tagging/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add vendor-neutral audit logging governance pattern
  docs/patterns/governance/audit-logging/index.md
  docs/patterns/governance/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build

docs: add vendor-neutral audit logging governance pattern (#309)
  docs/patterns/governance/audit-logging/index.md
  docs/patterns/governance/index.md
  mkdocs.yml
Due: check-forbidden-tech, check-description, check-title, mkdocs-build
