Repository adaptive-enforcement-lab/adaptive-enforcement-lab-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-length, mkdocs-build

check-markdown-length:
  name: check markdown length
  entry: scripts/check-markdown-length.sh
  language: script

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'if [ -f .venv/bin/mkdocs ]; then .venv/bin/mkdocs build --strict; else mkdocs build --strict; fi'
  language: system
  pass_filenames: false

feat: add markdown output formats and CI integration
  .github/workflows/docs-quality.yml
  .pre-commit-config.yaml
  designs/content-analyzer-design.md
  tools/content-analyzer/cmd/content-analyzer/main.go
  tools/content-analyzer/docs/design.md
  tools/content-analyzer/docs/integration.md
  tools/content-analyzer/docs/readability-formulas.md
  tools/content-analyzer/docs/thresholds.md
  tools/content-analyzer/pkg/output/markdown.go
Due: check-markdown-length, mkdocs-build

feat: add config file support with path-based thresholds
  .content-analyzer.yml
  .pre-commit-config.yaml
  tools/content-analyzer/cmd/content-analyzer/main.go
  tools/content-analyzer/go.mod
  tools/content-analyzer/pkg/analyzer/analyzer.go
  tools/content-analyzer/pkg/analyzer/types.go
  tools/content-analyzer/pkg/config/config.go
Due: mkdocs-build

fix: improve prose in volatile-field-exclusion doc
  .content-analyzer.yml
  docs/developer-guide/engineering-practices/patterns/work-avoidance/techniques/volatile-field-exclusion.md
Due: check-markdown-length, mkdocs-build

feat(content-analyzer): add report format and per-file reading time
  tools/content-analyzer/cmd/content-analyzer/main.go
  tools/content-analyzer/pkg/output/markdown.go
Due: none

chore: gitignore content-analyzer binary
  .gitignore
Due: none

feat(ci): implement modular release pipeline with change detection
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Due: mkdocs-build

fix(ci): fix workflow syntax errors and quote shell variables
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: mkdocs-build

feat(ci): implement modular release pipeline with change detection (#67)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Due: mkdocs-build

feat: Add content-analyzer tool for documentation readability (#59)
  .content-analyzer.yml
  .github/workflows/docs-quality.yml
  .gitignore
  .pre-commit-config.yaml
  docs/developer-guide/engineering-practices/patterns/work-avoidance/techniques/volatile-field-exclusion.md
  tools/content-analyzer/.gitignore
  tools/content-analyzer/cmd/content-analyzer/main.go
  tools/content-analyzer/docs/design.md
  tools/content-analyzer/docs/integration.md
  tools/content-analyzer/docs/readability-formulas.md
  tools/content-analyzer/docs/thresholds.md
  tools/content-analyzer/go.mod
  tools/content-analyzer/go.sum
  tools/content-analyzer/pkg/analyzer/analyzer.go
  tools/content-analyzer/pkg/analyzer/types.go
  tools/content-analyzer/pkg/config/config.go
  tools/content-analyzer/pkg/markdown/parser.go
  tools/content-analyzer/pkg/output/json.go
  tools/content-analyzer/pkg/output/markdown.go
  tools/content-analyzer/pkg/output/table.go
Due: check-markdown-length, mkdocs-build

fix(ci): add continue-on-error for release-please until GitHub App setup
  .github/workflows/release.yml
Due: mkdocs-build

fix: remove continue-on-error workaround after org policy fix
  .github/workflows/release.yml
Due: mkdocs-build

fix(ci): add exclude-paths to isolate site releases from content-analyzer
  release-please-config.json
Due: none

feat: add MkDocs Material versioning with mike
  .github/workflows/build.yml
  .github/workflows/release.yml
  mkdocs.yml
  requirements.txt
Due: mkdocs-build

fix: auto-configure GitHub Pages source for gh-pages branch
  .github/workflows/release.yml
Due: mkdocs-build

feat: add MkDocs Material versioning with mike (#74)
  .github/workflows/build.yml
  .github/workflows/release.yml
  mkdocs.yml
  requirements.txt
Due: mkdocs-build

fix(ci): remove gh api call and use 'latest' for continuous deployments
  .github/workflows/release.yml
Due: mkdocs-build

fix(ci): remove gh api call and use 'latest' for continuous deployments (#78)
  .github/workflows/release.yml
Due: mkdocs-build

docs: add graceful degradation pattern
  docs/blog/posts/2025-11-29-from-5-seconds-to-5-milliseconds.md
  docs/blog/posts/2025-12-05-the-art-of-failing-gracefully.md
  docs/developer-guide/engineering-practices/patterns/graceful-degradation/index.md
  docs/developer-guide/engineering-practices/patterns/idempotency/caches.md
  docs/developer-guide/engineering-practices/patterns/index.md
  docs/developer-guide/engineering-practices/patterns/work-avoidance/index.md
  mkdocs.yml
Due: check-markdown-length, mkdocs-build

refactor: backdate and anonymize release-please blog posts
  docs/blog/posts/2025-11-28-why-release-please-prs-dont-trigger-builds.md
  docs/blog/posts/2025-11-30-what-release-please-cant-do.md
  docs/blog/posts/2025-12-01-the-75-repo-pr-storm.md
  docs/blog/posts/2025-12-02-the-real-fix-for-release-please-triggers.md
Due: check-markdown-length, mkdocs-build

docs: add graceful degradation pattern (#79)
  docs/blog/posts/2025-11-29-from-5-seconds-to-5-milliseconds.md
  docs/blog/posts/2025-12-05-the-art-of-failing-gracefully.md
  docs/developer-guide/engineering-practices/patterns/graceful-degradation/index.md
  docs/developer-guide/engineering-practices/patterns/idempotency/caches.md
  docs/developer-guide/engineering-practices/patterns/index.md
  docs/developer-guide/engineering-practices/patterns/work-avoidance/index.md
  mkdocs.yml
Due: check-markdown-length, mkdocs-build

refactor: convert docs-quality to reusable workflow
  .github/workflows/build.yml
  .github/workflows/docs-quality.yml
  .github/workflows/release.yml
Due: mkdocs-build

refactor: backdate and anonymize release-please blog posts (#80)
  docs/blog/posts/2025-11-28-why-release-please-prs-dont-trigger-builds.md
  docs/blog/posts/2025-11-30-what-release-please-cant-do.md
  docs/blog/posts/2025-12-01-the-75-repo-pr-storm.md
  docs/blog/posts/2025-12-02-the-real-fix-for-release-please-triggers.md
Due: check-markdown-length, mkdocs-build

docs: add cross-reference from principles to pattern guide
  docs/developer-guide/engineering-practices/principles/index.md
Due: check-markdown-length, mkdocs-build

fix(ci): detect release from git tag for versioned docs deploy
  .github/workflows/release.yml
Due: mkdocs-build

fix(ci): detect release from git tag for versioned docs deploy (#84)
  .github/workflows/release.yml
Due: mkdocs-build

refactor: convert docs-quality to reusable workflow (#81)
  .github/workflows/build.yml
  .github/workflows/docs-quality.yml
  .github/workflows/release.yml
Due: mkdocs-build

revert: remove mike versioning, use GitHub Actions Pages deployment
  .github/workflows/release.yml
  mkdocs.yml
  requirements.txt
Due: mkdocs-build

revert: remove mike versioning, use GitHub Actions Pages deployment (#85)
  .github/workflows/release.yml
  mkdocs.yml
  requirements.txt
Due: mkdocs-build

fix: add fetch-depth for RSS plugin dates
  .github/workflows/release.yml
Due: mkdocs-build

docs: restructure engineering practices patterns and principles
  docs/developer-guide/engineering-practices/patterns/fail-fast/index.md
  docs/developer-guide/engineering-practices/patterns/prerequisite-checks/examples.md
  docs/developer-guide/engineering-practices/patterns/prerequisite-checks/index.md
  docs/developer-guide/engineering-practices/principles/index.md
  mkdocs.yml
Due: check-markdown-length, mkdocs-build

docs: split prerequisite-checks into H2-based pages
  docs/developer-guide/engineering-practices/patterns/prerequisite-checks/anti-patterns.md
  docs/developer-guide/engineering-practices/patterns/prerequisite-checks/index.md
  docs/developer-guide/engineering-practices/patterns/prerequisite-checks/ordering.md
  mkdocs.yml
Due: check-markdown-length, mkdocs-build

docs: add mermaid quadrant chart for pattern decision matrix
  docs/developer-guide/engineering-practices/principles/index.md
Due: check-markdown-length, mkdocs-build

docs: focus principles page on 5 error-handling patterns
  docs/developer-guide/engineering-practices/principles/index.md
Due: check-markdown-length, mkdocs-build

fix(ci): ensure deploy runs when build succeeds
  .github/workflows/release.yml
Due: mkdocs-build

fix(ci): ensure deploy-docs runs when build-docs succeeds
  .github/workflows/release.yml
Due: mkdocs-build

fix(ci): ensure deploy-docs runs when build-docs succeeds (#90)
  .github/workflows/release.yml
Due: mkdocs-build

fix(ci): add work avoidance to build-docs job
  .github/workflows/release.yml
Due: mkdocs-build

Path conditions:
  check-markdown-length: any of: \.md$, but not: ^(CHANGELOG|CONTRIBUTING|designs/)\.md$|^designs/
  mkdocs-build: any of: \.(md|yml|yaml)$
